In [5]:
import pandas as pd
import numpy as np

In [6]:
df = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4))

In [10]:
df

     0   1   2   3
0   38  18  14  39
1   20  33  36  12
2   22  23  35  30
3   19  26  37  18
4   35  19  32  28
5   27  10  19  38
6   19  23  33  37
7   21  25  31  21
8   21  37  20  20
9   23  36  21  30
10  28  27  21  31
11  14  22  32  23
12  36  31  29  13
13  29  24  10  25
14  25  28  28  20

In [8]:
# Print row sum
rowsums = df.apply(np.sum, axis = 1)

In [9]:
rowsums

0     109
1     101
2     110
3     100
4     114
5      94
6     112
7      98
8      98
9     110
10    107
11     91
12    109
13     88
14    101
dtype: int64

In [11]:
# last two rows with row sum > 100
last_two_rows = df.iloc[np.where(rowsums > 100)[0][-2:],:]

In [12]:
print (last_two_rows)

     0   1   2   3
12  36  31  29  13
14  25  28  28  20

In [13]:
ser = pd.Series(np.logspace(-2, 2, 30))

In [15]:
def cap_outliers(ser, low_perc, high_perc):
    low, high = ser.quantile ([low_perc, high_perc])
    print(low_perc, '%ile:', low, '|', high_perc, '%ile:', high)
    ser [ ser < low] = low
    ser [ ser > high] = high
    return (ser)
capped_ser = cap_outliers (ser,.05,.95)

0.05 %ile: 0.016049294076965887 | 0.95 %ile: 63.876672220183934

In [16]:
df = pd.DataFrame(np.arange(25).reshape(5, -1))

In [19]:
df

    0   1   2   3   4
0   0   1   2   3   4
1  10  11  12  13  14
2   5   6   7   8   9
3  15  16  17  18  19
4  20  21  22  23  24

In [20]:
def swap_rows(df,i1,i2):
    a, b = df.iloc [i1,:].copy(), df.iloc[i2,:].copy()
    df.iloc[i1,:], df.iloc[i2,:] = b,a
    return df
print(swap_rows(df,1,2))

    0   1   2   3   4
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24

In [21]:
df = pd.DataFrame(np.arange(25).reshape(5, -1))

In [22]:
#Sol 1
df.iloc[::-1,:]

    0   1   2   3   4
4  20  21  22  23  24
3  15  16  17  18  19
2  10  11  12  13  14
1   5   6   7   8   9
0   0   1   2   3   4

In [23]:
# Sol 2
print(df.loc[df.index[::-1],:])

    0   1   2   3   4
4  20  21  22  23  24
3  15  16  17  18  19
2  10  11  12  13  14
1   5   6   7   8   9
0   0   1   2   3   4